/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
	color: #222;
}

html {
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
img,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
	width: 90%;
	margin: 0 5%;
}

/* ===================
	ALL: Orange Theme
   =================== */

.footer-container,
.main aside {
	border-top: 20px solid #818181;
}

.header-container {
	background: transparent;
	/*border-bottom: 20px solid transparent;*/
}
.header-container:hover {
	background: #414141;
	/*border-bottom: 20px solid #7F726C;*/
}

.footer-container,
.main aside {
	background: #414141;
}

.title {
	color: white;
}

/* ==============
	MOBILE: Menu
   ============== */

nav.menu ul {
	margin: 0;
	padding: 0;
}

nav.menu a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;

	text-align: center;
	text-decoration: none;
	font-weight: bold;

	color: white;
	/*background: #7F726C;*/
	background: transparent;
}

nav.menu a:hover,
nav.menu a:visited {
	color: white;
}

nav.menu a:hover {
	text-decoration: underline;
	/*background: #7F726C;*/
}

/* ==============
	MOBILE: Main
   ============== */

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: white;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: white;
	padding: 20px 0;
}

/* ===============
	ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*Main site*/

	body {
		background-color: #414141;
	}

	/*.main-container {*/
	.top-view {
		background-image: url(../img/bg-image-green.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		color: white;
	}

	/* 
	Allow angular.js to be loaded in body, hiding cloaked elements until 
	templates compile.  The !important is important given that there may be 
	other selectors that are more specific or come later and might alter display.  
	*/
	[ng\:cloak], [ng-cloak], .ng-cloak {
		display: none !important;
	}

/*Quote*/
	.main wrapper {
		position: relative;
		height: 730px;
	}

	.quote {
		text-align: center;
		text-shadow:0px 0px 1px #000;
		position: absolute;
		top: 42%;
		left: 0;
		right: 0;

		animation: fadein 2s;
		-moz-animation: fadein 2s; /* Firefox */
		-webkit-animation: fadein 2s; /* Safari and Chrome */
	}

	@keyframes fadein {
		from {
			opacity:0;
		}
		to {
			opacity:1;
		}
	}
	@-moz-keyframes fadein { /* Firefox */
		from {
			opacity:0;
		}
		to {
			opacity:1;
		}
	}
	@-webkit-keyframes fadein { /* Safari and Chrome */
		from {
			opacity:0;
		}
		to {
			opacity:1;
		}
	}

/*About Me Section*/

	#face-graphic {
		/*width: 250px;*/
		width: 100%;
	}

/*My Work Section*/

	.workhorizontalscroll {
		 /*height: 500px;*/
		 /*width:400px;*/
		 /*border:solid 2px orange;*/
		 overflow:scroll;
		 overflow-x:hidden;
		 overflow-y:scroll;
	}

	#projectscroll {
		margin-right: auto; 
		margin-left: auto; 
		margin-bottom: 25px;
		height:126px;
		width:70%;
		color: white;
		/*border:solid 2px orange;*/
		overflow:scroll;
		overflow-y:hidden;
		overflow-x:scroll;
	}

	.project {
		float: left;
	}

	#project-graphic-scroll {
		height: 100px;
		width: 100px;
		padding-right: 10px;
		-webkit-filter: brightness(90%);
		 -webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			  -o-transition: all 1s ease;
			 -ms-transition: all 1s ease;
				 transition: all 1s ease;
	}
	#project-graphic-scroll:hover {
		-webkit-filter: brightness(130%);
		border: black;
	}

	#project-graphic {
		width: 100%;
		padding-right: 10px;
		-webkit-filter: brightness(90%);
		 -webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			  -o-transition: all 1s ease;
			 -ms-transition: all 1s ease;
				 transition: all 1s ease;
	}

	#project-graphic:hover {
		-webkit-filter: brightness(130%);
		border: black;
	}
	
	#project-link {
		color: white;
		position: fixed;
		letter-spacing: -1px;
		background: rgb(0, 0, 0); /* fallback color */
		background: rgba(0, 0, 0, 0.7);
		padding: 10px;
		z-index: 1;
		text-decoration: none;
	}
	#project-link:hover {
		text-decoration: underline;
	}

/*Learn More Section*/
	.morehorizontalscroll {
		 /*height: 500px;*/
		 /*width:400px;*/
		 /*border:solid 2px orange;*/
		 overflow:scroll;
		 overflow-x:hidden;
		 overflow-y:scroll;
	}
	
	ul.logo-bullet {
		list-style-type: none;
		padding: 0;
	}
	nav div ul {
	display: table;
	width: 100%;
	list-style: none;
	}
	nav div ul li {
	display: table-cell;
	text-align: center;
	}
	nav div ul li a {
	display: block;
	}
	nav div ul li:first-child {
		text-align: left;
	}
	nav div ul li:last-child {
		text-align: right;
	}

	.logo {
		display: inline-block;
		/*white-space: pre-line;*/
	}

	#logo-link {
		clear: none;
	}

	#logo {
		width: 60%;
		padding-right: 10px;
		-webkit-filter: brightness(90%);
		 -webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			  -o-transition: all 1s ease;
			 -ms-transition: all 1s ease;
				 transition: all 1s ease;
	}

	#logo:hover {
		-webkit-filter: brightness(130%);
		border: black;
	}

	#map-canvas {
		height: 500px;
		width: 90%;
		margin-right: auto; 
		margin-left: auto; 
	}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */

	nav.menu a {
		float: left;
		width: 27%;
		margin: 0 1.7%;
		padding: 25px 2%;
		margin-bottom: 0;
	}

	nav.menu li:first-child a {
		margin-left: 0;
	}

	nav.menu li:last-child a {
		margin-right: 0;
	}


/* ========================
	INTERMEDIATE: IE Fixes
   ======================== */

	nav.menu ul li {
		display: inline;
	}

	.oldie nav.menu a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE: CSS3 Effects
   ==================== */

	.header-container:hover,
	.main aside {
		-webkit-box-shadow: 0 5px 10px #aaa;
		   -moz-box-shadow: 0 5px 10px #aaa;
				box-shadow: 0 5px 10px #aaa;
	}

/* ============
	WIDE: Menu
   ============ */

	.title {
		float: left;
	}

	nav.menu {
		float: right;
		width: 38%;
	}

/* ============
	WIDE: Main
   ============ */

	.main article {
		float: left;
		width: 57%;
	}

	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	@page {
		margin: 0.5cm;
	}

	a,	
	p,
	h2,
	h3 {
		color: white;
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}